* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.quilt-container {
    display: grid; /* Using CSS Grid for layout */
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    grid-template-rows: repeat(4, 1fr); /* 4 equal rows */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
}

.div1 {
    background-color: #A0522D;
    grid-column: span 2; /* Span 2 columns */
    grid-row: span 2; /* Span 2 rows */
}

.div2 {
    background-color: #708090;
    grid-column: 3; /* Place in 3rd column */
    grid-row: 1; /* Place in 1st row */
}

.div3 {
    background-color: #7da829;
    grid-column: 4; /* Place in 4th column */
    grid-row: 1; /* Place in 1st row */
}

.div4 {
    background-color: #c29e0e;
    grid-column: 5; /* Place in 5th column */
    grid-row: 1; /* Place in 1st row */
}

.div5 {
    background-color: #63297b;
    grid-column: 2; /* Place in 2nd column */
    grid-row: 2; /* Place in 2nd row */
}

.div6 {
    background-color: #c1702a;
    grid-column: 1; /* Place in 1st column */
    grid-row: 3; /* Place in 3rd row */
}

.div7 {
    background-color: #059d44;
    grid-column: 2; /* Place in 2nd column */
    grid-row: 3; /* Place in 3rd row */
}

.div8 {
    background-color: #1a6394;
    grid-column: 3; /* Place in 3rd column */
    grid-row: 3; /* Place in 3rd row */
}

.div9 {
    background-color: #b475cd;
    grid-column: 4; /* Place in 4th column */
    grid-row: 3; /* Place in 3rd row */
}

.div10 {
    background-color: #f3b95c;
    grid-column: 5; /* Place in 5th column */
    grid-row: 3; /* Place in 3rd row */
}

.div11 {
    background-color: #5e2703;
    grid-column: 1; /* Place in 1st column */
    grid-row: 4; /* Place in 4th row */
}

.div12 {
    background-color: #0a3551;
    grid-column: 2; /* Place in 2nd column */
    grid-row: 4; /* Place in 4th row */
}

.div13 {
    background-color: #75be94;
    grid-column: 3; /* Place in 3rd column */
    grid-row: 4; /* Place in 4th row */
}

.div14 {
    background-color: #dd5b4c;
    grid-column: 4; /* Place in 4th column */
    grid-row: 4; /* Place in 4th row */
}

.div15 {
    background-color: #045444;
    grid-column: 5; /* Place in 5th column */
    grid-row: 4; /* Place in 4th row */
}

.div16 {
    background-color: #7d6c6a;
    grid-column: span 2; /* Span 2 columns */
    grid-row: 2; /* Place in 2nd row */
}

.div17 {
    background-color: #d8cda2;
    grid-column: span 2; /* Span 2 columns */
    grid-row: 3; /* Place in 3rd row */
}

.div18 {
    background-color: #392242;
    grid-column: 1; /* Place in 1st column */
    grid-row: 1; /* Place in 1st row */
}

.div19 {
    background-color: #7aa9d8;
    grid-column: 5; /* Place in 5th column */
    grid-row: 2; /* Place in 2nd row */
}

.div20 {
    background-color: #a56907;
    grid-column: span 2; /* Span 2 columns */
    grid-row: 4; /* Place in 4th row */
}
